@font-face {
  font-family: 'Jura Regular';
  src: local('Jura Regular'), local('Jura-Regular'),
    url('../assets/fonts/Jura-Regular.ttf'), url('../assets/fonts/Jura-Regular.woff2');
}

@font-face {
  font-family: 'PermanentMarker-Regular';
  src: local('PermanentMarker Regular'), local('PermanentMarker-Regular'),
    url('../assets/fonts/PermanentMarker-Regular.ttf'), url('../assets/fonts/PermanentMarker-Regular.woff2');
}

@font-face {
  font-family: 'RoundedMplus1c Regular';
  src: local('RoundedMplus1c Regular'), local('RoundedMplus1c-Regular'),
  url('../assets/fonts/RoundedMplus1c-Regular.ttf'), url('../assets/fonts/RoundedMplus1c-Regular.woff2');
}

@font-face {
  font-family: 'Pacifico Regular';
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
  url('../assets/fonts/Pacifico-Regular.ttf'), url('../assets/fonts/Pacifico-Regular.woff2');
}
