@font-face {
  font-family: 'Jura Regular';
  src: local('Jura Regular'), local('Jura-Regular'),
  url('../assets/fonts/Jura-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Pacifico Regular';
  src: local('Pacifico Regular'), local('Pacifico-Regular'),
  url('../assets/fonts/Pacifico-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans Regular';
  src: local('OpenSans Regular'), local('OpenSans-Regular'),
  url('../assets/fonts/OpenSans-Regular.woff');
  font-display: swap;
}
